body {
     background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

 
.menu{
    background-color: rgb(13, 4, 37);
    color: #fd7e14;
}

.txtAcceuil:hover
{
    color: #fd7e14;
}

#navbarNav ul
{
    
    border-radius: 10px;
    
}
/* ******************************** plage de travail****************************** */

#imgAvec{
    background-image: url(https://images.pexels.com/photos/4240576/pexels-photo-4240576.jpeg?cs=srgb&dl=pexels-ivan-samkov-4240576.jpg&fm=jpg);
    height: 80vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    color: rgb(0, 0, 0);
}

#imgAvec h1 {
    font-size: 50px;
}

#imgAvec p {
    font-size: 30px;
}

.annee{
    margin-top: 10px;
}

.labele0{
    margin-top: 10px;
    height: auto; 
    padding:0px 0px;
} 


.labele1{
    margin-bottom: 20px;
    height: auto;
    padding: 10px 0px;
}

/* partie apropos */

#date{
    height: 100px;
    background-color: #fd7e14;
    margin-top: 50px;
    margin-right: 10px;
}
.begyear{
    font-size: 50px;
    color: #fff;
    margin-bottom: -10px;
}
.enderbyear{
    color:rgb(13, 4, 37);
}
                .date2{
                     background:#fd7e14; 
                    margin:20px;
                    padding:15px;
                    color:white;
                               
                  }
             .date2 p{
                    font-size: 1.6em;
                    font-weight: bold;   
                    margin:5px;                                     
                  }
                   .date2 span {
                      
                    font-size:0.2em;
                                        
                  }
            

.photoAp{
    background-size: cover;
    max-width: 100%;
    max-height: 100%; 
    

}

.ligne1{
    border: solid #fd7e14 1px;
    margin-top: -20px;
    
}
.ligne{
    border: #fd7e14 solid 3px;
    width: 11%;
    background-color:#fd7e14 ;
}

.lignetitre{
    border: #fd7e14 solid 3px;
    width: 12%;
}

.maincarousel{
    padding-bottom: -40px;
}

.imgcarousel{
    width: 100%;
    height: 100%;
}

.carte{

   margin-top: 100px;
   margin-right: 50px;
  
}

.bgcolor{

    background-color: #fd7e14;
    border-radius: 0 20px 0 20px;
    color: rgb(13, 4, 37);
}

.bgcolor:hover{
    background-color: rgb(0, 0, 0);
    color: #fd7e14;
    
}

.bgcolorfb:hover{
    color: #fd7e14;
}
/* #apropos{

    max-height: 50%;
    margin: 50px;

}


#apropos h1{

    text-align: center;

}

#apropos p{
    
    width: 50%;
    height: 15%;
    border: rgb(4, 4, 36) solid 2px;
    position: absolute;
    right: 40px; left: 40px;
    margin-top: 80px;
    margin-left: 300px;
    color: #fff;
    background-color: rgb(13, 4, 37);


}

#apropos .imageAP{

    height: 250px;
    width: 250px;
    margin-left: 20px;

} */
.mainApropos{
    
    margin-bottom: -36px;
    
}

.infoplus
{
    color: #fd7e14;
    border-radius: 20px; 
}

.infoplus:hover
{
    text-decoration: 0;
    color: rgb(13, 4, 37);
}

#actualite{
    background-color: rgb(13, 4, 37);
    height: 300px;
    color: white;
    flex-direction: column;
    
    
}

#actualite p{
   
    padding-top: 50px;
    
}

/*  close partie apropos  */
.photo{
    max-width: 100%;
    max-height: 100%;
}

.titremembre{
    margin-bottom: 0px;
    margin-top: 30px;

}
.icon{
    text-align: center;
}

/* *************************************** plage de travail******************************* */
 .presentation{
     background-color: rgb(13, 4, 37);
     border-radius: 15px;
     
 }

 .titrepresentation{
     text-align: center;
     color: #fd7e14;
     padding-top: 30px;
 }

 .sizimage{
     width: 150px;
     height: 150px;
     border: solid 2px #fd7e14;
     background-size: cover;
     margin-left: 45px;
 }

 .bg-colorpresentation{
     background-color:  rgb(13, 4, 37);
     border: 0;
     color: #fff;
    }

 .footercard{
     background-color: #fd7e14;
     margin: 10px;
     border-top: 20px;
     font-size: 20px;
 }

 .titrecard{
    color: black;
 }

 /* apropos */
 .btn-color{
     /* display: flex;
     align-items: center; */
     background-color: rgb(13, 4, 37);
     color: white;
     margin-left: 570px;
 }


 .sizeimge{
     height: 250px;
 }




.btn-warnings{
    background-color: #fd7e14;
    margin-left: 200px;

}


 /* commentaire et guide */
 .carte{
     color: rgb(245, 240, 240);
     margin-left: 15%;
     border: 0px;
 }
.body-card{
    background-color: rgb(13, 4, 37);

}

.header-card{
    background-color: #fd7e14;
    border-radius: 20px;
 } 
 /*close commentaire et guide */

.front_footer
{
    height: 300px;
    background-color: rgb(13, 4, 37);
    color: #fff;
    box-shadow: 5px 5px 10px #e07511;
    margin: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
}

.texte{
    margin-top: 70px;
    font-size: 1.6em;
    font-style: oblique 20deg;
}   

.bouton{
    /* margin-top: 125px; */
    margin-left: -50px;
    margin-top: 20px;
    height: 70px;
    width: 210px;
    box-shadow: 5px 5px 5px #f1f0ee;
    border-radius: 0 20px 0 20px;
    font-size: 1.3rem;

}

.pbouton
{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.bouton:hover
{
    color: white;
    box-shadow: 5px 5px 5px #e07511;
    background-color: #ee8829;
}
 /* footer */
 .footer{
     background-color: rgb(0, 0, 0);
        /* background-image: linear-gradient(rgb(13, 4, 37), rgb(61, 38, 4)); */
        color: rgb(255, 255, 255);
        padding: 10px;
        text-align: justify;
        margin: 1px;
        border: 0px;
    }

    .colonefooter{
        height: 250px;
       
     }
    
    .ligne_in_footer{
        background-color: #fff;
        margin: 1px;
    }
    .laster{
        text-align: center;
    }
    /* close footer */


    /* page inscrire */

    .login{
        /* background-color: rgb(223, 215, 215);  */
        height: auto;
        padding-top: 100px;
       
    }

    .origlongin{
        margin:20px;
    }
    .champs{
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        
        
    }

    .titleinscrir{
        margin-left: 100px;
        text-align: center;
        margin-bottom: 50px;

    }

    .btn-couleur
    {
        margin-right: 100px;  
    }
    .logbtn
    {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 100px;
    }

    /* *********page vesement ****************/
.maindver
{
   min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    background-position: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px;
}

.div1 
{
    background: rgba(236, 232, 232, 0.5);
    box-shadow: 0 5px 10px rgb(13, 4, 37);
    border-radius: 20px;
    padding: 20px;
    height: 300px;
    font-size: 20px;
}

.div1 a
{
   text-decoration: 0;
}

.versmenu
{  
     margin-top: 50px;
     
}

.line
{
    background-color: #fd7e14;
    height: 2px;
}

.inmen
{
    color: rgb(13, 4, 37);
    font-size: 18px;
}

.inmen:hover
{
    box-shadow:0 5px 10px rgb(13, 4, 37);
    font-size: 20px;
    border-radius: 20px;
    color:  #fd7e14;
    background-color: rgb(13, 4, 37);
}

/* **************close pae versement****************** */


/* ********************open page gestion******************** */


.gestion
{
   margin-top: 100px; 
}

.gestionP
{
    padding:30px 0;

}

.buttonbg
{
    background-color: rgb(13, 4, 37);
    color: #fd7e14;
}

.buttonbg:hover
{
    background-color: #fd7e14;
    color:  rgb(13, 4, 37);
    font-size: 20px;
}

.colone:hover
{
    background-color: rgb(13, 4, 37);
    color: #fd7e14;
    font-size: 20px;

}

.photoct
{
    max-width: 100%;
    max-height:100%;
    background-size: cover;
    
}

.start
{
    color:red;
}